Repository kohlmannj/limina: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:js --fix, yarn lint:ts --fix

Add husky + precommit script
  .lintstagedrc.json
  package.json
  yarn.lock
Due: yarn lint:js --fix

Update package URLs
  packages/babel-preset-react/package.json
  packages/babel-preset/package.json
  packages/core/package.json
  packages/eslint-config/package.json
  packages/tslint-config/package.json
  packages/ui/package.json
  packages/webpack-config/package.json
Due: yarn lint:js --fix

Correct MediaQueryType enum type
  packages/core/__tests__/getMediaQueries.test.ts
  packages/core/src/getMediaQueries.ts
Due: yarn lint:ts --fix

Use TypeScript function types
  packages/core/__tests__/getMediaQueries.test.ts
  packages/core/src/getMediaQueries.ts
  packages/core/src/limina.ts
  packages/core/src/types.ts
Due: yarn lint:ts --fix

Deep WIP on interface concepting (examples.ts)
  jest.config.js
  package.json
  packages/babel-preset-react/babel-preset-limina-react.js
  packages/babel-preset-react/package.json
  packages/babel-preset/babel-preset-limina.js
  packages/babel-preset/package.json
  packages/core/__stubs__/testMediaQueries.ts
  packages/core/__tests__/getMediaQueries.test.ts
  packages/core/__tests__/limina.test.ts
  packages/core/package.json
  packages/core/src/createLimina.ts
  packages/core/src/example.ts
  packages/core/src/getMediaQueries.ts
  packages/core/src/index.ts
  packages/core/src/limina.ts
  packages/core/src/scratch.ts
  packages/core/src/types.d.ts
  packages/core/src/types.ts
  packages/core/src/utils.ts
  packages/tslint-config/tslint.json
  scripts/babel-polyfill.js
  scripts/compile-js.js
  scripts/jest.setup.js
  yarn.lock
Due: yarn lint:js --fix, yarn lint:ts --fix

Extreme WIP
  @types/ml-regression-simple-linear/index.d.ts
  @types/units-css/index.d.ts
  jest.config.js
  package.json
  packages/babel-preset/babel-preset-limina.js
  packages/core/package.json
  packages/core/src/Breakpoint/Breakpoint.d.ts
  packages/core/src/Breakpoint/Breakpoint.ts
  packages/core/src/Breakpoint/__tests__/Breakpoint.test.ts
  packages/core/src/Breakpoint/index.ts
  packages/core/src/BreakpointTuple/BreakpointTuple.d.ts
  packages/core/src/BreakpointTuple/BreakpointTuple.ts
  packages/core/src/BreakpointTuple/index.ts
  packages/core/src/index.d.ts
  packages/core/src/index.ts
  packages/core/src/limina.ts
  packages/core/src/scratch.ts
  packages/core/src/usage.ts
  packages/core/src/utils.ts
  packages/core/src/utils/createLinearRegressionMediaQuery.ts
  packages/core/src/utils/cssValueRetargetingDefaultOptions.ts
  packages/core/src/utils/index.d.ts
  packages/core/src/utils/reduceBreakpointTuplesToCSS.ts
  packages/core/src/utils/retargetCSSPropertyValue.ts
  packages/old/createLimina.ts
  packages/old/example.ts
  packages/old/getMediaQueries.ts
  packages/old/limina.ts
  packages/old/liminaRK.ts
  packages/old/utils.ts
  scripts/compile-js.js
  scripts/compile-ts.js
  scripts/jest.setup.js
  tsconfig.dts.json
  tsconfig.json
  yarn.lock
Due: yarn lint:js --fix, yarn lint:ts --fix

Move more old source files
  packages/core/__tests__/Breakpoint.test.ts
  packages/old/__stubs__/testMediaQueries.ts
  packages/old/__tests__/getMediaQueries.test.ts
  packages/old/__tests__/limina.test.ts
  packages/old/src/createLimina.ts
  packages/old/src/example.ts
  packages/old/src/getMediaQueries.ts
  packages/old/src/limina.ts
  packages/old/src/liminaRK.ts
  packages/old/src/utils.ts
Due: yarn lint:ts --fix

First working proof of concept!!!
  .vscode/launch.json
  packages/core/__tests__/limina.test.ts
  packages/core/src/Breakpoint/Breakpoint.ts
  packages/core/src/BreakpointTuple/BreakpointTuple.ts
  packages/core/src/utils/createLinearRegressionMediaQuery.ts
  packages/core/src/utils/index.d.ts
  packages/core/src/utils/reduceBreakpointTuplesToCSS.ts
  packages/core/src/utils/retargetCSSPropertyValue.ts
  packages/core/src/utils/sortValuesByBreakpointWidth.ts
Due: yarn lint:js --fix, yarn lint:ts --fix

Make test file source code a bit more terse
  packages/core/__tests__/limina.test.ts
Due: yarn lint:ts --fix

Move old stuff to __old__
  __old__/__stubs__/testMediaQueries.ts
  __old__/__tests__/getMediaQueries.test.ts
  __old__/__tests__/limina.test.ts
  __old__/src/createLimina.ts
  __old__/src/example.ts
  __old__/src/getMediaQueries.ts
  __old__/src/limina.ts
  __old__/src/liminaRK.ts
  __old__/src/utils.ts
  packages/babel-preset/babel-preset-limina.js
  packages/babel-preset/package.json
Due: yarn lint:js --fix, yarn lint:ts --fix

Rename some modules + fix Object.entries() issues in Breakpoint.ts
  .eslintrc
  jest.config.js
  package.json
  packages/babel-preset-core/babel-preset-limina-core.js
  packages/babel-preset-core/package.json
  packages/babel-preset-react/babel-preset-limina-react.js
  packages/babel-preset-react/package.json
  packages/core/.babelrc
  packages/core/src/Breakpoint/Breakpoint.ts
  packages/core/src/usage.ts
  packages/eslint-config/package.json
  packages/tslint-config/package.json
  packages/ui/.babelrc
  packages/ui/package.json
  packages/webpack-config/package.json
  tslint.json
  yarn.lock
Due: yarn lint:js --fix, yarn lint:ts --fix

Attempt to publish v0.1.0 (failed)
  lerna.json
  packages/babel-preset-core/package.json
  packages/core/package.json
  packages/eslint-config/package.json
  packages/tslint-config/package.json
  packages/ui/package.json
  packages/webpack-config/package.json
Due: yarn lint:js --fix

Roll back lerna version number
  lerna.json
Due: yarn lint:js --fix

Make ui and webpack-config not-packages for now
  packages/ui/_package.json
  packages/webpack-config/_package.json
  yarn.lock
Due: yarn lint:js --fix

Roll back version numbers (whoops)
  packages/babel-preset-core/package.json
  packages/core/package.json
  packages/eslint-config/package.json
  packages/tslint-config/package.json
Due: yarn lint:js --fix

Fix core’s `main` property
  packages/core/package.json
Due: yarn lint:js --fix

Add prerelease and release scripts
  package.json
Due: yarn lint:js --fix

Fix prerelease script
  package.json
Due: yarn lint:js --fix

Work around https://github.com/lerna/lerna/issues/896
  package.json
Due: yarn lint:js --fix

Update license
  LICENSE
Due: none

Attempt to work around publish issues yet again
  lerna.json
  package.json
Due: yarn lint:js --fix

Update license fields
  packages/babel-preset-core/package.json
  packages/core/package.json
  packages/eslint-config/package.json
  packages/tslint-config/package.json
  packages/ui/_package.json
  packages/webpack-config/_package.json
Due: yarn lint:js --fix

Re-add npmClient: yarn
  lerna.json
Due: yarn lint:js --fix

Remove old license
  packages/core/LICENSE
Due: none

Ignore license copies
  .gitignore
Due: none

Update gitignore
  .gitignore
Due: none

publishConfig: access public
  package.json
  packages/babel-preset-core/package.json
  packages/core/package.json
  packages/eslint-config/package.json
  packages/tslint-config/package.json
  packages/ui/_package.json
  packages/webpack-config/_package.json
Due: yarn lint:js --fix

v0.1.0
  lerna.json
  packages/babel-preset-core/package.json
  packages/core/package.json
  packages/eslint-config/package.json
  packages/tslint-config/package.json
Due: yarn lint:js --fix

Correct type definitions import / export situation
  .vscode/settings.json
  package.json
  packages/core/src/Breakpoint/Breakpoint.d.ts
  packages/core/src/Breakpoint/Breakpoint.ts
  packages/core/src/Breakpoint/index.ts
  packages/core/src/BreakpointTuple/BreakpointTuple.d.ts
  packages/core/src/BreakpointTuple/BreakpointTuple.ts
  packages/core/src/BreakpointTuple/index.ts
  packages/core/src/index.d.ts
  packages/core/src/index.ts
  packages/core/src/limina.ts
  packages/core/src/utils/createLinearRegressionMediaQuery.ts
  packages/core/src/utils/cssValueRetargetingDefaultOptions.ts
  packages/core/src/utils/index.d.ts
  packages/core/src/utils/reduceBreakpointTuplesToCSS.ts
  packages/core/src/utils/retargetCSSPropertyValue.ts
  packages/core/src/utils/sortValuesByBreakpointWidth.ts
  tsconfig.dts.json
  tsconfig.json
Due: yarn lint:js --fix, yarn lint:ts --fix

Move old / unused type definitions
  __old__/src/index.d.ts
  packages/core/src/index.d.ts
Due: yarn lint:ts --fix

v0.2.0
  lerna.json
  packages/core/package.json
Due: yarn lint:js --fix

Add Travis script
  .travis.yml
Due: none

Add README badges
  README.md
Due: none

Object.values() → Object.keys() bugfix
  packages/core/src/Breakpoint/Breakpoint.ts
Due: yarn lint:ts --fix

Replace reduce() with map() finally
  packages/core/src/Breakpoint/Breakpoint.ts
Due: yarn lint:ts --fix

v0.2.1
  lerna.json
  packages/core/package.json
Due: yarn lint:js --fix

Breakpoint: also assume pixels when unit is the empty string
  packages/core/src/Breakpoint/Breakpoint.ts
Due: yarn lint:ts --fix

v0.2.2
  lerna.json
  packages/core/package.json
Due: yarn lint:js --fix

WIP on graph editor component in Storybook
  .storybook/.babelrc
  .storybook/config.js
  .storybook/webpack.config.js
  package.json
  packages/babel-preset-core/package.json
  packages/core/package.json
  packages/graph-editor/.babelrc
  packages/graph-editor/package.json
  packages/graph-editor/src/components/Graph/Graph.stories.tsx
  packages/graph-editor/src/components/Graph/Graph.tsx
  packages/graph-editor/src/components/Graph/index.ts
  packages/graph-editor/src/components/Line/Line.tsx
  packages/graph-editor/src/components/Line/index.ts
  packages/graph-editor/src/components/Point/Point.tsx
  packages/graph-editor/src/components/Point/index.ts
  packages/graph-editor/src/index.d.ts
  packages/graph-editor/src/utils.ts
  packages/graph-editor/tsconfig.dts.json
  packages/graph-editor/tsconfig.json
  tsconfig.json
  yarn.lock
Due: yarn lint:js --fix, yarn lint:ts --fix

Add exclamations to avoid `margin` is possibly undefined
  packages/graph-editor/src/components/Graph/Graph.tsx
Due: yarn lint:ts --fix

Path conditions:
  yarn lint:js --fix: any of: *.{js,jsx,json}
  yarn lint:ts --fix: any of: *.{ts,tsx}
