Repository kohlmannj/limina: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:js --fix, yarn lint:ts --fix

WIP on the Point component
  packages/graph-editor/src/components/Graph/Graph.tsx
  packages/graph-editor/src/components/Line/Line.stories.tsx
  packages/graph-editor/src/components/Line/Line.tsx
  packages/graph-editor/src/components/Point/Point.stories.tsx
  packages/graph-editor/src/components/Point/Point.tsx
  packages/graph-editor/src/index.d.ts
  packages/graph-editor/src/utils.ts
Due: yarn lint:ts --fix

Have Point working with all Emotion based styles
  .storybook/preview-head.html
  packages/graph-editor/src/components/Graph/Graph.stories.tsx
  packages/graph-editor/src/components/Graph/Graph.tsx
  packages/graph-editor/src/components/Line/Line.tsx
  packages/graph-editor/src/components/LineContainer/LineContainer.tsx
  packages/graph-editor/src/components/LineContainer/index.ts
  packages/graph-editor/src/components/Point/Point.tsx
  packages/graph-editor/src/components/ViewBoxContext/ViewBoxContext.tsx
  packages/graph-editor/src/components/ViewBoxContext/index.ts
  packages/graph-editor/src/index.d.ts
  packages/graph-editor/src/utils.ts
Due: yarn lint:ts --fix

Very early WIP on ScrollGraph
  .storybook/webpack.config.js
  packages/babel-preset-core/babel-preset-limina-core.js
  packages/graph-editor/package.json
  packages/graph-editor/src/__stubs__/testValues.ts
  packages/graph-editor/src/components/Graph/Graph.stories.tsx
  packages/graph-editor/src/components/Point/Point.stories.tsx
  packages/graph-editor/src/components/ScrollGraph/ScrollGraph.stories.tsx
  packages/graph-editor/src/components/ScrollGraph/ScrollGraph.tsx
  packages/graph-editor/src/components/ScrollGraph/index.ts
  yarn.lock
Due: yarn lint:js --fix, yarn lint:ts --fix

Rename some interfaces + Line → PolyLineSVG
  packages/graph-editor/src/__stubs__/testValues.ts
  packages/graph-editor/src/components/Graph/Graph.tsx
  packages/graph-editor/src/components/Line/index.ts
  packages/graph-editor/src/components/PolyLineSVG/PolyLineSVG.stories.tsx
  packages/graph-editor/src/components/PolyLineSVG/PolyLineSVG.tsx
  packages/graph-editor/src/components/PolyLineSVG/index.ts
  packages/graph-editor/src/components/ScrollGraph/ScrollGraph.tsx
Due: yarn lint:ts --fix

Upgrade Babel + get remark + lint-staged working
  .remarkrc
  .storybook/webpack.config.js
  __stubs__/lipsum.md
  package.json
  packages/babel-preset-core/package.json
  packages/core/package.json
  packages/react-graph-editor/package.json
  packages/ui/.storybook/config.js
  yarn.lock
Due: yarn lint:js --fix

Update Travis script
  .travis.yml
Due: none

Add Codecov badge to README
  README.md
Due: none

Ignore coverage folders
  .gitignore
Due: none

Upgrade Babel packages
  package.json
  packages/babel-preset-core/babel-preset-limina-core.js
  packages/babel-preset-core/package.json
  packages/react-graph-editor/package.json
  yarn.lock
Due: yarn lint:js --fix

Upgrade Babel to v7.0.0-beta.46 + upgrade config
  babel.config.js
  package.json
  packages/babel-preset-core/babel-preset-limina-core.js
  packages/babel-preset-core/package.json
  yarn.lock
Due: yarn lint:js --fix

Babel works again after v7.0.0-beta.46 changes
  __mocks__/.babelrc
  packages/core/.babelrc
  packages/react-graph-editor/.babelrc
  packages/ui/.babelrc
  scripts/compile-js.js
  yarn.lock
Due: yarn lint:js --fix

Remove separate d.ts files
  packages/core/src/Breakpoint.ts
  packages/core/src/Breakpoint/Breakpoint.d.ts
  packages/core/src/Breakpoint/index.ts
  packages/core/src/BreakpointTuple.ts
  packages/core/src/BreakpointTuple/BreakpointTuple.d.ts
  packages/core/src/BreakpointTuple/index.ts
  packages/core/src/index.d.ts
  packages/core/src/index.ts
  packages/core/src/limina.ts
  packages/core/src/utils/createLinearRegressionMediaQuery.ts
  packages/core/src/utils/cssValueRetargetingDefaultOptions.ts
  packages/core/src/utils/index.d.ts
  packages/core/src/utils/reduceBreakpointTuplesToCSS.ts
  packages/core/src/utils/retargetCSSPropertyValue.ts
  packages/core/src/utils/sortValuesByBreakpointWidth.ts
Due: yarn lint:ts --fix

Switch to .nvmrc
  .nvmrc
  .travis.yml
Due: none

Work around https://github.com/DefinitelyTyped/DefinitelyTyped/issues/25342
  package.json
  yarn.lock
Due: yarn lint:js --fix

Improve scripts + rm per-package tsconfig.json
  package.json
  packages/core/tsconfig.json
  scripts/compile-ts.js
  scripts/prepare.js
Due: yarn lint:js --fix

Rm extra per-package tsconfig.json
  packages/react-graph-editor/tsconfig.json
Due: yarn lint:js --fix

Switch to enzyme-to-json
  package.json
  packages/react-graph-editor/__tests__/__snapshots__/Graph.stories.tsx.snap
  packages/react-graph-editor/__tests__/__snapshots__/Point.stories.tsx.snap
  packages/react-graph-editor/__tests__/__snapshots__/PolyLineSVG.stories.tsx.snap
  packages/react-graph-editor/__tests__/__snapshots__/ScrollBar.stories.tsx.snap
  packages/react-graph-editor/__tests__/__snapshots__/ScrollGraph.stories.tsx.snap
  packages/react-graph-editor/__tests__/__snapshots__/ScrollView.stories.tsx.snap
  scripts/jest.setup.js
  yarn.lock
Due: yarn lint:js --fix

v0.2.3
  lerna.json
  packages/babel-preset-core/package.json
  packages/core/package.json
Due: yarn lint:js --fix

Upgrade some dependencies
  package.json
  packages/react-graph-editor/package.json
  yarn.lock
Due: yarn lint:js --fix

Move typings.d.ts to root
  typings.d.ts
Due: yarn lint:ts --fix

`yarn upgrade` + rm extra “resolutions” in package
  packages/react-graph-editor/package.json
  yarn.lock
Due: yarn lint:js --fix

Add Storybook deployer
  .travis.yml
  package.json
  yarn.lock
Due: yarn lint:js --fix

ScrollBar: improve elastic scrolling layout behavior
  packages/react-graph-editor/__tests__/ScrollBar.stories.tsx
  packages/react-graph-editor/src/ScrollBar.tsx
Due: yarn lint:ts --fix

ScrollGraph: use ScrollView
  packages/react-graph-editor/src/ScrollGraph.tsx
  packages/react-graph-editor/src/ScrollView.tsx
Due: yarn lint:ts --fix

babel-preset: use strings instead of imports
  packages/babel-preset-core/babel-preset-limina-core.js
Due: yarn lint:js --fix

Update stylelint config + switch back to VSCode TS
  .stylelintrc.json
  .vscode/settings.json
  package.json
  packages/react-graph-editor/__tests__/__snapshots__/ScrollBar.stories.tsx.snap
  packages/react-graph-editor/__tests__/__snapshots__/ScrollGraph.stories.tsx.snap
  packages/react-graph-editor/src/Graph.tsx
  packages/react-graph-editor/src/Point.tsx
  packages/stylelint-config/index.js
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn lint:js --fix, yarn lint:ts --fix

Working Stylelint config + VSCode Stylelint ext
  .stylelintrc.json
  .vscode/extensions.json
  .vscode/settings.json
  packages/stylelint-config/index.js
Due: yarn lint:js --fix

Move components into subfolder + Stylelint
  .storybook/config.js
  .storybook/webpack.config.js
  package.json
  packages/react-graph-editor/__stubs__/testValues.ts
  packages/react-graph-editor/__tests__/Graph.stories.tsx
  packages/react-graph-editor/__tests__/Point.stories.tsx
  packages/react-graph-editor/__tests__/PolyLineSVG.stories.tsx
  packages/react-graph-editor/__tests__/ScrollBar.stories.tsx
  packages/react-graph-editor/__tests__/ScrollGraph.stories.tsx
  packages/react-graph-editor/__tests__/ScrollView.stories.tsx
  packages/react-graph-editor/src/components/Graph.tsx
  packages/react-graph-editor/src/components/LineContainer.tsx
  packages/react-graph-editor/src/components/Point.tsx
  packages/react-graph-editor/src/components/PolyLineSVG.tsx
  packages/react-graph-editor/src/components/ScrollBar.tsx
  packages/react-graph-editor/src/components/ScrollGraph.tsx
  packages/react-graph-editor/src/components/ScrollView.tsx
  packages/react-graph-editor/src/components/ViewBoxContext.tsx
  packages/stylelint-config/index.js
  yarn.lock
Due: yarn lint:js --fix, yarn lint:ts --fix

Separate ScrollBar components
  packages/react-graph-editor/src/components/Point.tsx
  packages/react-graph-editor/src/components/ScrollBar.tsx
  packages/react-graph-editor/src/components/ScrollBar/ScrollBar.tsx
  packages/react-graph-editor/src/components/ScrollBar/components/Thumb.tsx
  packages/react-graph-editor/src/components/ScrollBar/components/ThumbContainer.tsx
  packages/react-graph-editor/src/components/ScrollBar/components/Track.tsx
  packages/react-graph-editor/src/components/ScrollBar/index.ts
  packages/react-graph-editor/src/components/ScrollBarCorner.tsx
  packages/react-graph-editor/src/components/ScrollView.tsx
  packages/react-graph-editor/src/index.d.ts
  packages/react-graph-editor/src/theme.ts
Due: yarn lint:ts --fix

ScrollBar stories: use defaultTheme
  packages/react-graph-editor/__tests__/ScrollBar.stories.tsx
Due: yarn lint:ts --fix

Install latest Yarn on Travis
  .travis.yml
Due: none

Add export PATH for Yarn in Travis
  .travis.yml
Due: none

Add scroll bar thumb segments
  jest.config.js
  packages/react-graph-editor/__tests__/ScrollView.stories.tsx
  packages/react-graph-editor/__tests__/ThumbContainer.test.tsx
  packages/react-graph-editor/__tests__/__snapshots__/ScrollBar.stories.tsx.snap
  packages/react-graph-editor/__tests__/__snapshots__/ScrollView.stories.tsx.snap
  packages/react-graph-editor/__tests__/__snapshots__/ThumbContainer.test.tsx.snap
  packages/react-graph-editor/package.json
  packages/react-graph-editor/src/components/PolyLineSVG.tsx
  packages/react-graph-editor/src/components/ScrollBar/ScrollBar.tsx
  packages/react-graph-editor/src/components/ScrollBar/components/Thumb.tsx
  packages/react-graph-editor/src/components/ScrollBar/components/ThumbContainer.tsx
  packages/react-graph-editor/src/components/ScrollBar/components/ThumbSegment.tsx
  packages/react-graph-editor/src/components/ScrollBar/components/Track.tsx
  packages/react-graph-editor/src/components/ScrollBarCorner.tsx
  packages/react-graph-editor/src/components/ScrollView.tsx
  packages/react-graph-editor/src/theme.ts
  packages/tslint-config/tslint.json
Due: yarn lint:js --fix, yarn lint:ts --fix

Update ScrollGraph + add ScrollBar event handlers
  package.json
  packages/react-graph-editor/__tests__/ThumbContainer.test.tsx
  packages/react-graph-editor/__tests__/__snapshots__/ScrollGraph.stories.tsx.snap
  packages/react-graph-editor/__tests__/__snapshots__/ScrollView.stories.tsx.snap
  packages/react-graph-editor/__tests__/__snapshots__/ThumbContainer.test.tsx.snap
  packages/react-graph-editor/src/components/ScrollBar/ScrollBar.tsx
  packages/react-graph-editor/src/components/ScrollGraph.tsx
  packages/react-graph-editor/src/components/ScrollView.tsx
  yarn.lock
Due: yarn lint:js --fix, yarn lint:ts --fix

Upgrade some dependencies + switch to babel-7-jest
  jest.config.js
  package.json
  yarn.lock
Due: yarn lint:js --fix

Switch back to babel-jest; enable “noUnusedLocals” and more in tsconfig.json
  jest.config.js
  package.json
  packages/babel-preset-core/babel-preset-limina-core.js
  packages/babel-preset-core/package.json
  packages/react-graph-editor/__tests__/ThumbContainer.test.tsx
  tsconfig.json
  yarn.lock
Due: yarn lint:js --fix, yarn lint:ts --fix

Add additional explicit typings + more linting
  .eslintignore
  __mocks__/storybook-react.ts
  package.json
  packages/core/src/BreakpointTuple.ts
  packages/core/src/index.ts
  packages/core/src/limina.ts
  packages/core/src/utils/createLinearRegressionMediaQuery.ts
  packages/core/src/utils/reduceBreakpointTuplesToCSS.ts
  packages/core/src/utils/retargetCSSPropertyValue.ts
  packages/eslint-config/eslintrc.json
  packages/eslint-config/package.json
  packages/react-graph-editor/__tests__/ScrollBar.stories.tsx
  packages/react-graph-editor/src/components/LineContainer.tsx
  packages/react-graph-editor/src/components/Point.tsx
  packages/react-graph-editor/src/components/PolyLineSVG.tsx
  packages/react-graph-editor/src/components/ScrollBar/ScrollBar.tsx
  packages/react-graph-editor/src/components/ScrollBar/components/ThumbContainer.tsx
  packages/react-graph-editor/src/components/ScrollBar/components/ThumbSegment.tsx
  packages/react-graph-editor/src/components/ScrollBar/components/Track.tsx
  packages/react-graph-editor/src/components/ScrollBarCorner.tsx
  packages/react-graph-editor/src/components/ScrollGraph.tsx
  packages/react-graph-editor/src/components/ScrollView.tsx
  packages/react-graph-editor/src/theme.ts
  packages/react-graph-editor/src/utils.ts
  tsconfig.json
  tslint.json
  yarn.lock
Due: yarn lint:js --fix, yarn lint:ts --fix

Lint __old__ files
  __old__/__tests__/getMediaQueries.test.ts
  __old__/src/getMediaQueries.ts
  __old__/src/index.d.ts
Due: yarn lint:ts --fix

Update dependencies & snapshots
  package.json
  packages/react-graph-editor/__tests__/__snapshots__/ScrollView.stories.tsx.snap
  yarn.lock
Due: yarn lint:js --fix

Path conditions:
  yarn lint:js --fix: any of: *.{js,jsx,json}
  yarn lint:ts --fix: any of: *.{ts,tsx}
