Repository kohlmannj/limina: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:js --fix, yarn lint:ts --fix

Update Limina tests
  packages/core/src/__tests__/__snapshots__/limina.stories.tsx.snap
  packages/core/src/__tests__/__snapshots__/limina.test.ts.snap
  packages/core/src/__tests__/limina.test.ts
  packages/core/src/createBreakpoints.ts
  packages/core/src/usage.ts
Due: yarn lint:ts --fix

Type-check on precommit
  package.json
Due: yarn lint:js --fix

@limina/core no longer depends on @emotion/core
  .vscode/settings.json
  @types/ml-regression-simple-linear/index.d.ts
  @types/units-css.d.ts
  packages/core/package.json
  packages/core/src/Breakpoint.ts
  packages/core/src/BreakpointValue.ts
  packages/core/src/__tests__/Breakpoint.test.ts
  packages/core/src/index.ts
  packages/core/src/isValidBreakpoint.ts
  packages/core/src/isValidBreakpointValue.ts
  packages/core/src/utils/reduceBreakpointValuesToCSS.ts
  packages/core/src/utils/retargetCSSPropertyValue.ts
  yarn.lock
Due: yarn lint:js --fix, yarn lint:ts --fix

Minor code cleanup + remove some runtime checks
  packages/core/src/Breakpoint.ts
  packages/core/src/BreakpointValue.ts
  packages/core/tsconfig.json
Due: yarn lint:js --fix, yarn lint:ts --fix

react-graph-editor: export components
  packages/core/@types/units-css.d.ts
  packages/react-graph-editor/src/index.ts
  rollup.config.js
Due: yarn lint:js --fix, yarn lint:ts --fix

v0.3.0
  lerna.json
  packages/core/package.json
  packages/eslint-config/package.json
  packages/limina-sass/package.json
  packages/react-graph-editor/package.json
  packages/stylelint-config/package.json
Due: yarn lint:js --fix

Update prerelease script
  package.json
  packages/core/package.json
  packages/eslint-config/package.json
  packages/limina-sass/package.json
  packages/react-graph-editor/package.json
  packages/stylelint-config/package.json
Due: yarn lint:js --fix

Add “main” field to @limina/react-graph-editor
  packages/react-graph-editor/package.json
Due: yarn lint:js --fix

v0.3.1
  lerna.json
  packages/core/package.json
  packages/eslint-config/package.json
  packages/limina-sass/package.json
  packages/react-graph-editor/package.json
  packages/stylelint-config/package.json
Due: yarn lint:js --fix

Add ‘main’ field for @limina/core
  packages/core/package.json
Due: yarn lint:js --fix

v0.3.2
  lerna.json
  packages/core/package.json
Due: yarn lint:js --fix

Mod prerelease script to build in production mode
  package.json
Due: yarn lint:js --fix

Correct prerelease build command to use terser
  package.json
Due: yarn lint:js --fix

Add license-copying script
  LICENSE
  package.json
Due: yarn lint:js --fix

Refactor Breakpoint and BreakpointValue as objects rather than classes
  packages/core/src/Breakpoint.ts
  packages/core/src/BreakpointValue.ts
  packages/core/src/__tests__/Breakpoint.test.ts
  packages/core/src/__tests__/limina.stories.tsx
  packages/core/src/__tests__/limina.test.ts
  packages/core/src/createBreakpoints.ts
  packages/core/src/defaults.ts
  packages/core/src/getPreferredUnit.ts
  packages/core/src/index.ts
  packages/core/src/isValidBreakpoint.ts
  packages/core/src/isValidBreakpointValue.ts
  packages/core/src/limina.ts
  packages/core/src/types.ts
  packages/core/src/utils/createLinearRegressionMediaQuery.ts
  packages/core/src/utils/cssValueRetargetingDefaultOptions.ts
  packages/core/src/utils/getPreferredUnit.ts
  packages/core/src/utils/reduceBreakpointValuesToCSS.ts
  packages/core/src/utils/retargetCSSPropertyValue.ts
  packages/core/src/utils/sortValuesByBreakpointWidth.ts
Due: yarn lint:ts --fix

Add almost every task to tasks.json
  .vscode/tasks.json
  package.json
Due: yarn lint:js --fix

Change case of breakpoint.ts & breakpointValue.ts
  packages/core/src/breakpoint.ts
  packages/core/src/breakpointValue.ts
Due: yarn lint:ts --fix

First pass at making everything generic
  .vscode/launch.json
  package.json
  packages/core/src/__tests__/Breakpoint.test.ts
  packages/core/src/__tests__/limina.test.ts
  packages/core/src/breakpoint.ts
  packages/core/src/breakpointValue.ts
  packages/core/src/createBreakpoints.ts
  packages/core/src/getPreferredUnit.ts
  packages/core/src/limina.ts
  packages/core/src/types.ts
  packages/core/src/usage.ts
  packages/core/src/utils/createLinearRegressionMediaQuery.ts
  packages/core/src/utils/cssValueRetargetingDefaultOptions.ts
  packages/core/src/utils/getPreferredUnit.ts
  packages/core/src/utils/reduceBreakpointValuesToCSS.ts
  packages/core/src/utils/retargetCSSPropertyValue.ts
  packages/core/src/utils/sortValuesByBreakpointWidth.ts
Due: yarn lint:js --fix, yarn lint:ts --fix

Improve generics to infer as much as possible
  packages/core/src/breakpoint.ts
  packages/core/src/createBreakpoints.ts
  packages/core/src/limina.ts
  packages/core/src/usage.ts
  packages/core/src/utils/createLinearRegressionMediaQuery.ts
  packages/core/src/utils/retargetCSSPropertyValue.ts
Due: yarn lint:ts --fix

createBreakpoints() returns callable breakpoints
  packages/core/src/__tests__/limina.stories.tsx
  packages/core/src/__tests__/limina.test.ts
  packages/core/src/breakpoint.ts
  packages/core/src/breakpointValue.ts
  packages/core/src/createBreakpoints.ts
  packages/core/src/usage.ts
  packages/core/src/utils/createLinearRegressionMediaQuery.ts
  packages/core/src/utils/reduceBreakpointValuesToCSS.ts
Due: yarn lint:ts --fix

Add rounding, createLimina()
  packages/core/src/__tests__/__snapshots__/createLimina.stories.tsx.snap
  packages/core/src/__tests__/__snapshots__/createLimina.test.ts.snap
  packages/core/src/__tests__/__snapshots__/limina.stories.tsx.snap
  packages/core/src/__tests__/__snapshots__/limina.test.ts.snap
  packages/core/src/__tests__/createLimina.stories.tsx
  packages/core/src/__tests__/createLimina.test.ts
  packages/core/src/__tests__/limina.stories.tsx
  packages/core/src/breakpointValue.ts
  packages/core/src/createLimina.ts
  packages/core/src/index.ts
  packages/core/src/limina.ts
  packages/core/src/types.ts
  packages/core/src/utils/createLinearRegressionMediaQuery.ts
  packages/core/src/utils/reduceBreakpointValuesToCSS.ts
  packages/core/src/utils/retargetCSSPropertyValue.ts
  packages/core/src/utils/roundToPrecision.ts
Due: yarn lint:ts --fix

Upgrade lerna
  package.json
  yarn.lock
Due: yarn lint:js --fix

v0.4.0
  lerna.json
  packages/core/package.json
  packages/eslint-config/package.json
  packages/limina-sass/package.json
  packages/react-graph-editor/package.json
  packages/stylelint-config/package.json
Due: yarn lint:js --fix

Comment out @storybook/addon-storysource for now
  .storybook/addons.js
Due: yarn lint:js --fix

Upgrade all dependencies
  package.json
  packages/eslint-config/package.json
  packages/stylelint-config/package.json
  yarn.lock
Due: yarn lint:js --fix

Experiments with newLimina & generics + inference
  .stylelintignore
  .vscode/launch.json
  package.json
  packages/core/@types/postcss-media-query-parser.d.ts
  packages/core/exampleParsedMediaQuery.json
  packages/core/package.json
  packages/core/src/__tests__/__snapshots__/newLimina.test.ts.snap
  packages/core/src/__tests__/newLimina.test.ts
  packages/core/src/index.ts
  packages/core/src/newLimina.ts
  packages/core/src/scratchpad.ts
  packages/core/src/standardBreakpoints.ts
  yarn.lock
Due: yarn lint:js --fix, yarn lint:ts --fix

As far as I got with an intersection type
  packages/core/src/newLimina.ts
Due: yarn lint:ts --fix

Run `yarn upgrade`, fix type defs for TS 3.5.x
  packages/core/src/breakpoint.ts
  yarn.lock
Due: yarn lint:ts --fix

Fix some Prettier issues
  packages/core/src/createBreakpoints.ts
  packages/core/src/utils/createLinearRegressionMediaQuery.ts
Due: yarn lint:ts --fix

Deploy Storybook to GitHub Pages
  favicon.ico
  iframe.html
  index.html
  main.6bfa560843fb56311ab0.bundle.js
  main.bb4b6fd5e8599f81c9bd.bundle.js
  main.bb4b6fd5e8599f81c9bd.bundle.js.map
  runtime~main.17da544d0ef88cbabfaf.bundle.js
  runtime~main.bb4b6fd5e8599f81c9bd.bundle.js
  runtime~main.bb4b6fd5e8599f81c9bd.bundle.js.map
  sb_dll/storybook_ui-manifest.json
  sb_dll/storybook_ui_dll.LICENCE
  sb_dll/storybook_ui_dll.js
  vendors~main.bb4b6fd5e8599f81c9bd.bundle.js
  vendors~main.bb4b6fd5e8599f81c9bd.bundle.js.map
  vendors~main.f5fcdc2f403767c87f1a.bundle.js
Due: yarn lint:js --fix

Update recommended Stylelint extension identifier
  .vscode/extensions.json
Due: yarn lint:js --fix

Path conditions:
  yarn lint:js --fix: any of: *.{js,jsx,json}
  yarn lint:ts --fix: any of: *.{ts,tsx}
