Repository kohlmannj/limina: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:js --fix, yarn lint:ts --fix

.lintstagedrc.json:

{
  "linters": {
    "*.{js,jsx,json}": [
      "yarn lint:js --fix",
      "git add"
    ],
    "*.{ts,tsx}": [
      "yarn lint:ts --fix",
      "git add"
    ]
  }
}

First ScalingScrollView proof-of-concept
  packages/react-graph-editor/__tests__/ScalingScrollView.stories.tsx
  packages/react-graph-editor/src/components/ScalingScrollView.tsx
  packages/react-graph-editor/src/components/ScrollBar/ScrollBar.tsx
  packages/react-graph-editor/src/components/ScrollBar/components/ThumbSegment.tsx
  packages/react-graph-editor/src/components/ScrollGraph.tsx
  packages/react-graph-editor/src/components/ScrollView/ScrollView.tsx
  packages/react-graph-editor/src/components/ScrollView/components/ScrollViewOverflowContainer.tsx
  packages/react-graph-editor/src/components/ScrollView/index.ts
Due: yarn lint:ts --fix

Incorporate ScalingScrollView into ScrollView
  packages/react-graph-editor/__tests__/ScalingScrollView.stories.tsx
  packages/react-graph-editor/__tests__/ScrollView.stories.tsx
  packages/react-graph-editor/src/components/ScalingScrollView.tsx
  packages/react-graph-editor/src/components/ScrollGraph.tsx
  packages/react-graph-editor/src/components/ScrollView/ScrollView.tsx
Due: yarn lint:ts --fix

ScrollView: pass onScroll event via React
  packages/react-graph-editor/src/components/ScrollView/ScrollView.tsx
Due: yarn lint:ts --fix

ScrollGraph: switch to inline style for width / height
  packages/react-graph-editor/src/components/Graph.tsx
  packages/react-graph-editor/src/components/ScrollGraph.tsx
Due: yarn lint:ts --fix

Comment out “custom theme” story
  packages/react-graph-editor/__tests__/ScrollView.stories.tsx
Due: yarn lint:ts --fix

Way better scrolling performance for Thumb + Track
  packages/react-graph-editor/__tests__/__snapshots__/ScrollBar.stories.tsx.snap
  packages/react-graph-editor/__tests__/__snapshots__/ScrollGraph.stories.tsx.snap
  packages/react-graph-editor/__tests__/__snapshots__/ScrollView.stories.tsx.snap
  packages/react-graph-editor/src/components/ScrollBar/components/ThumbContainer.tsx
  packages/react-graph-editor/src/components/ScrollBar/components/ThumbSegment.tsx
  packages/react-graph-editor/src/components/ScrollBar/components/Track.tsx
Due: yarn lint:ts --fix

Change CSS cursor to row- and col-resize
  packages/react-graph-editor/src/components/ScrollBar/components/ThumbSegment.tsx
Due: yarn lint:ts --fix

ThumbSegment: fix incorrect / unitless padding
  packages/react-graph-editor/src/components/ScrollBar/components/ThumbSegment.tsx
Due: yarn lint:ts --fix

ScrollView: improve resizing, add touch support
  packages/react-graph-editor/src/components/ScrollView/ScrollView.d.ts
  packages/react-graph-editor/src/components/ScrollView/ScrollView.tsx
  packages/react-graph-editor/src/components/ScrollView/components/ScrollViewOverflowContainer.tsx
  packages/react-graph-editor/src/components/ScrollView/index.ts
  packages/react-graph-editor/src/components/ScrollView/styles.ts
Due: yarn lint:ts --fix

Add scaleIncrement prop to avoid fractional scales
  packages/react-graph-editor/src/components/ScrollView/ScrollView.d.ts
  packages/react-graph-editor/src/components/ScrollView/ScrollView.tsx
Due: yarn lint:ts --fix

Ensure mouse cursor always tracks w/ thumb segment
  packages/react-graph-editor/__tests__/__snapshots__/ScrollGraph.stories.tsx.snap
  packages/react-graph-editor/__tests__/__snapshots__/ScrollView.stories.tsx.snap
  packages/react-graph-editor/src/components/ScrollView/ScrollView.tsx
Due: yarn lint:ts --fix

orientation → axis, horizontal → x, vertical → y
  packages/react-graph-editor/__tests__/ScrollBar.stories.tsx
  packages/react-graph-editor/__tests__/__snapshots__/ScrollBar.stories.tsx.snap
  packages/react-graph-editor/__tests__/__snapshots__/ScrollView.stories.tsx.snap
  packages/react-graph-editor/src/components/ScrollBar/ScrollBar.tsx
  packages/react-graph-editor/src/components/ScrollBar/components/ThumbContainer.tsx
  packages/react-graph-editor/src/components/ScrollBar/components/ThumbSegment.tsx
  packages/react-graph-editor/src/components/ScrollBar/components/Track.tsx
  packages/react-graph-editor/src/components/ScrollView/ScrollView.d.ts
  packages/react-graph-editor/src/components/ScrollView/ScrollView.tsx
  packages/react-graph-editor/src/index.d.ts
Due: yarn lint:ts --fix

Temporarily comment out unused event handlers
  packages/react-graph-editor/src/components/ScrollView/ScrollView.tsx
Due: yarn lint:ts --fix

Upgrade dependencies
  package.json
  packages/babel-preset-core/package.json
  packages/core/package.json
  packages/react-graph-editor/package.json
  packages/tslint-config/package.json
  yarn.lock
Due: yarn lint:js --fix

Update snapshots
  packages/react-graph-editor/__tests__/__snapshots__/ScrollView.stories.tsx.snap
Due: none

First pass at supporting scroll bar dragging
  packages/react-graph-editor/__tests__/__snapshots__/ScrollView.stories.tsx.snap
  packages/react-graph-editor/src/components/ScrollView/ScrollView.d.ts
  packages/react-graph-editor/src/components/ScrollView/ScrollView.tsx
  packages/react-graph-editor/src/components/ScrollView/utils.ts
Due: yarn lint:ts --fix

Upgrade dependencies; keep React @ ~16.3 for now
  .travis.yml
  .vscode/extensions.json
  package.json
  packages/babel-preset-core/package.json
  packages/core/package.json
  packages/eslint-config/package.json
  packages/react-graph-editor/package.json
  packages/stylelint-config/package.json
  packages/tslint-config/package.json
  yarn.lock
Due: yarn lint:js --fix

Upgrade to React and ReactDOM 16.4.0
  package.json
  yarn.lock
Due: yarn lint:js --fix

ScrollView: remove scaleX and scaleY props
  packages/react-graph-editor/src/components/ScrollView/ScrollView.d.ts
  packages/react-graph-editor/src/components/ScrollView/ScrollView.tsx
Due: yarn lint:ts --fix

Initial commit of limina-sass
  .vscode/extensions.json
  packages/limina-sass/eyeglass-exports.js
  packages/limina-sass/package.json
  packages/limina-sass/src/_breakpoint-utils.scss
  packages/limina-sass/src/_create-limina.scss
  packages/limina-sass/src/_limina.scss
  packages/limina-sass/src/_render-utils.scss
  yarn.lock
Due: yarn lint:js --fix

Add support for bracketed arrays
  packages/limina-sass/src/_breakpoint-utils.scss
  packages/limina-sass/src/_create-limina.scss
  packages/limina-sass/src/_limina.scss
Due: none

Refinements + add limina-breakpoint mixin
  packages/limina-sass/package.json
  packages/limina-sass/src/_breakpoint-utils.scss
  packages/limina-sass/src/_get-props-by-breakpoint.scss
  packages/limina-sass/src/_limina-create.scss
  packages/limina-sass/src/_limina.scss
Due: yarn lint:js --fix

bulid & watch scripts: change output folder to lib
  packages/limina-sass/package.json
Due: yarn lint:js --fix

Upgrade all dependencies + remove Prettier plugin from ES/TSLint
  .gitignore
  .storybook/webpack.config.js
  .vscode/extensions.json
  package.json
  packages/babel-preset-core/babel-preset-limina-core.js
  packages/babel-preset-core/package.json
  packages/core/package.json
  packages/eslint-config/eslintrc.json
  packages/eslint-config/package.json
  packages/react-graph-editor/package.json
  packages/stylelint-config/package.json
  packages/tslint-config/package.json
  packages/tslint-config/tslint.json
  tsconfig.dts.json
  tsconfig.json
  yarn.lock
Due: yarn lint:js --fix

Update type definitions
  packages/core/src/index.ts
  packages/core/src/utils/reduceBreakpointTuplesToCSS.ts
  packages/core/src/utils/retargetCSSPropertyValue.ts
  packages/react-graph-editor/__stubs__/testValues.ts
  packages/react-graph-editor/__tests__/PolyLineSVG.stories.tsx
  packages/react-graph-editor/__tests__/ScrollGraph.stories.tsx
  packages/react-graph-editor/__tests__/ScrollView.stories.tsx
  packages/react-graph-editor/src/components/Graph.tsx
  packages/react-graph-editor/src/components/Point.tsx
  packages/react-graph-editor/src/components/PolyLineSVG.tsx
  packages/react-graph-editor/src/components/ScrollBar/ScrollBar.tsx
  packages/react-graph-editor/src/components/ScrollBar/components/ThumbContainer.tsx
  packages/react-graph-editor/src/components/ScrollBarCorner.tsx
  packages/react-graph-editor/src/components/ScrollGraph.tsx
  packages/react-graph-editor/src/components/ScrollView/ScrollView.d.ts
  packages/react-graph-editor/src/components/ScrollView/ScrollView.tsx
  packages/react-graph-editor/src/components/ScrollView/index.ts
  packages/react-graph-editor/src/components/ScrollView/utils.ts
  packages/react-graph-editor/src/components/ViewBoxContext.tsx
  packages/react-graph-editor/src/styled.tsx
  packages/react-graph-editor/src/types.ts
  packages/react-graph-editor/src/utils.ts
  tsconfig.dts.json
  tsconfig.json
  yarn.lock
Due: yarn lint:js --fix, yarn lint:ts --fix

Update snapshots (finally)
  packages/react-graph-editor/__tests__/__snapshots__/ScrollGraph.stories.tsx.snap
  packages/react-graph-editor/__tests__/__snapshots__/ScrollView.stories.tsx.snap
Due: none

ICSSPropertyValueTuple → CSSPropertyValueTuple
  packages/core/src/index.ts
  packages/core/src/limina.ts
  packages/core/src/utils/retargetCSSPropertyValue.ts
Due: yarn lint:ts --fix

Upgrade deps + configs
  .vscode/settings.json
  .yarnrc
  lerna.json
  package.json
  packages/babel-preset-core/babel-preset-limina-core.js
  packages/babel-preset-core/package.json
  packages/core/tsconfig.json
  packages/eslint-config/package.json
  packages/react-graph-editor/package.json
  packages/react-graph-editor/tsconfig.json
  packages/stylelint-config/package.json
  packages/tsconfig.json
  packages/tsconfig.settings.json
  packages/tslint-config/package.json
  yarn.lock
Due: yarn lint:js --fix

Some config fixes
  .browserslistrc
  packages/babel-preset-core/babel-preset-limina-core.js
  packages/react-graph-editor/package.json
  yarn.lock
Due: yarn lint:js --fix

Remove node-sass devDependency, fix Stylelint conf
  .nvmrc
  .stylelintignore
  packages/limina-sass/.stylelintrc.json
  packages/limina-sass/package.json
  packages/stylelint-config/base.js
  packages/stylelint-config/index.js
  packages/stylelint-config/package.json
  packages/stylelint-config/scss.js
  yarn.lock
Due: yarn lint:js --fix

Add missing devDependency @emotion/styled
  package.json
  yarn.lock
Due: yarn lint:js --fix

Update snapshot rendering
  __mocks__/storybook-react.js
  jest.config.js
  jest.setup.js
  packages/react-graph-editor/src/__tests__/__snapshots__/Graph.stories.tsx.snap
  packages/react-graph-editor/src/__tests__/__snapshots__/Point.stories.tsx.snap
  packages/react-graph-editor/src/__tests__/__snapshots__/PolyLineSVG.stories.tsx.snap
  packages/react-graph-editor/src/__tests__/__snapshots__/ScrollBar.stories.tsx.snap
  packages/react-graph-editor/src/__tests__/__snapshots__/ScrollGraph.stories.tsx.snap
  packages/react-graph-editor/src/__tests__/__snapshots__/ScrollView.stories.tsx.snap
Due: yarn lint:js --fix

Update default branch name in .travis.yml
  .travis.yml
Due: none

Update storybook-deploy command
  .travis.yml
Due: none

Add custom Storybook theme
  .storybook/addons.js
  .storybook/config.js
  .storybook/customTheme.js
Due: yarn lint:js --fix

Rm --source-branch flag from storybook-deploy cmd
  .travis.yml
Due: none

Use colorful placekitten
  packages/react-graph-editor/src/__tests__/ScrollView.stories.tsx
  packages/react-graph-editor/src/__tests__/__snapshots__/ScrollView.stories.tsx.snap
Due: yarn lint:ts --fix

Change brandUrl
  .storybook/customTheme.js
Due: yarn lint:js --fix

BreakpointTuple → BreakpointValue, add CodeSandbox demos
  .storybook/addons.js
  .storybook/config.js
  .storybook/webpack.config.js
  .vscode/extensions.json
  package.json
  packages/core/src/Breakpoint.ts
  packages/core/src/BreakpointValue.ts
  packages/core/src/__tests__/__snapshots__/limina.stories.tsx.snap
  packages/core/src/__tests__/limina.stories.tsx
  packages/core/src/__tests__/limina.test.ts
  packages/core/src/createBreakpoints.ts
  packages/core/src/index.ts
  packages/core/src/limina.ts
  packages/core/src/usage.ts
  packages/core/src/utils/createLinearRegressionMediaQuery.ts
  packages/core/src/utils/reduceBreakpointTuplesToCSS.ts
  packages/core/src/utils/reduceBreakpointValuesToCSS.ts
  packages/core/src/utils/retargetCSSPropertyValue.ts
  packages/core/src/utils/sortValuesByBreakpointWidth.ts
  yarn.lock
Due: yarn lint:js --fix, yarn lint:ts --fix
